
venv/
env/

.env
*.env
!.env.example  # Exemplo seguro de uso

*.sqlite3
*.db

.pytest_cache/
.coverage
htmlcov/
.tox/


__pycache__/
*.py[cod]
*$py.class


*.log

*.tmp
*.bak
*.swp


.vscode/
.idea/


alembic/versions/

routesTest.http
authRoutes.http
clientsRoutes.http
testApiWhatsApp.http


.DS_Store
Thumbs.db

.sentryclirc
