
venv/
env/
.env
*.env


*.sqlite3
*.db

.pytest_cache/
.coverage
htmlcov/
.tox/


__pycache__/
*.py[cod]
*$py.class


*.log


.vscode/
.idea/
*.swp

*.tmp
*.bak

alembic/versions/


routesTest.http


.sentryclirc


.DS_Store
Thumbs.db

authRoutes.http
clientRoutes.http